TallerAplicaciones/ClienteDistribuidores/Service References/ApiDistribuidores/ApiDistribuidores2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/uy.edu.ort.taller.aplicaciones.dominio.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/uy.edu.ort.taller.aplicaciones.dominio.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPedidoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PedidoDTO" nillable="true" type="tns:PedidoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPedidoDTO" nillable="true" type="tns:ArrayOfPedidoDTO" />
  <xs:complexType name="PedidoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aprobado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ejecutivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PedidoId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PedidoDTO" nillable="true" type="tns:PedidoDTO" />
  <xs:complexType name="ArrayOfProductoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductoDTO" nillable="true" type="tns:ProductoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductoDTO" nillable="true" type="tns:ArrayOfProductoDTO" />
  <xs:complexType name="ProductoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductoId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductoDTO" nillable="true" type="tns:ProductoDTO" />
  <xs:complexType name="ArrayOfValorAtributoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ValorAtributoDTO" nillable="true" type="tns:ValorAtributoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfValorAtributoDTO" nillable="true" type="tns:ArrayOfValorAtributoDTO" />
  <xs:complexType name="ValorAtributoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valores" nillable="true" type="tns:ArrayOfValorDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValorAtributoDTO" nillable="true" type="tns:ValorAtributoDTO" />
  <xs:complexType name="ArrayOfValorDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ValorDTO" nillable="true" type="tns:ValorDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfValorDTO" nillable="true" type="tns:ArrayOfValorDTO" />
  <xs:complexType name="ValorDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ValorString" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValorDTO" nillable="true" type="tns:ValorDTO" />
</xs:schema>