TallerAplicaciones/ClienteDistribuidores/Service References/ApiDistribuidores/ApiDistribuidores1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:1770/ApiDistribuidores.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:1770/ApiDistribuidores.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1770/ApiDistribuidores.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/uy.edu.ort.taller.aplicaciones.dominio.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ApiDistribuidores_Login_InputMessage">
    <wsdl:part name="parameters" element="Login" />
  </wsdl:message>
  <wsdl:message name="ApiDistribuidores_Login_OutputMessage">
    <wsdl:part name="parameters" element="LoginResponse" />
  </wsdl:message>
  <wsdl:message name="ApiDistribuidores_ListarPedidosDistribuidor_InputMessage">
    <wsdl:part name="parameters" element="ListarPedidosDistribuidor" />
  </wsdl:message>
  <wsdl:message name="ApiDistribuidores_ListarPedidosDistribuidor_OutputMessage">
    <wsdl:part name="parameters" element="ListarPedidosDistribuidorResponse" />
  </wsdl:message>
  <wsdl:message name="ApiDistribuidores_CambiarEstadoPedido_InputMessage">
    <wsdl:part name="parameters" element="CambiarEstadoPedido" />
  </wsdl:message>
  <wsdl:message name="ApiDistribuidores_CambiarEstadoPedido_OutputMessage">
    <wsdl:part name="parameters" element="CambiarEstadoPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="ApiDistribuidores_ListarProductos_InputMessage">
    <wsdl:part name="parameters" element="ListarProductos" />
  </wsdl:message>
  <wsdl:message name="ApiDistribuidores_ListarProductos_OutputMessage">
    <wsdl:part name="parameters" element="ListarProductosResponse" />
  </wsdl:message>
  <wsdl:message name="ApiDistribuidores_ListarAtributosProducto_InputMessage">
    <wsdl:part name="parameters" element="ListarAtributosProducto" />
  </wsdl:message>
  <wsdl:message name="ApiDistribuidores_ListarAtributosProducto_OutputMessage">
    <wsdl:part name="parameters" element="ListarAtributosProductoResponse" />
  </wsdl:message>
  <wsdl:portType name="ApiDistribuidores">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="urn:ApiDistribuidores/Login" message="ApiDistribuidores_Login_InputMessage" />
      <wsdl:output wsaw:Action="urn:ApiDistribuidores/LoginResponse" message="ApiDistribuidores_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarPedidosDistribuidor">
      <wsdl:input wsaw:Action="urn:ApiDistribuidores/ListarPedidosDistribuidor" message="ApiDistribuidores_ListarPedidosDistribuidor_InputMessage" />
      <wsdl:output wsaw:Action="urn:ApiDistribuidores/ListarPedidosDistribuidorResponse" message="ApiDistribuidores_ListarPedidosDistribuidor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CambiarEstadoPedido">
      <wsdl:input wsaw:Action="urn:ApiDistribuidores/CambiarEstadoPedido" message="ApiDistribuidores_CambiarEstadoPedido_InputMessage" />
      <wsdl:output wsaw:Action="urn:ApiDistribuidores/CambiarEstadoPedidoResponse" message="ApiDistribuidores_CambiarEstadoPedido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarProductos">
      <wsdl:input wsaw:Action="urn:ApiDistribuidores/ListarProductos" message="ApiDistribuidores_ListarProductos_InputMessage" />
      <wsdl:output wsaw:Action="urn:ApiDistribuidores/ListarProductosResponse" message="ApiDistribuidores_ListarProductos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarAtributosProducto">
      <wsdl:input wsaw:Action="urn:ApiDistribuidores/ListarAtributosProducto" message="ApiDistribuidores_ListarAtributosProducto_InputMessage" />
      <wsdl:output wsaw:Action="urn:ApiDistribuidores/ListarAtributosProductoResponse" message="ApiDistribuidores_ListarAtributosProducto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>